{% extends '_tile_content.html.twig' %}

{% block title %}{{ 'mine.title'|trans }}{% endblock %}
{% block description %}{{ 'mine.description'|trans }}{% endblock %}

{% import "macros/submission.html.twig" as macros %}

{% trans_default_domain "submission" %}

{% block pre_tile_content %}
    <p>
        <a class="btn btn-primary" href="{{ path("submission_new") }}">
            {{ "new.title"|trans }}
        </a>
    </p>
{% endblock %}

{% macro render_nav_item(challengeType, evaluationType, lastSubmission, defaultEntry = false) %}
    <li class="nav-item" role="presentation">
        <button class="nav-link {% if (defaultEntry and not lastSubmission) or lastSubmission.challengeType.value == challengeType and lastSubmission.evaluationType.value == evaluationType %}active{% endif %}"
                data-bs-toggle="tab" data-bs-target="#{{ challengeType ~ "_" ~ evaluationType }}" type="button" role="tab">
            {{ challengeType|trans({}, "enum_challenge_type") }}
            {{ evaluationType|trans({}, "enum_evaluation_type") }}
        </button>
    </li>
{% endmacro %}

{% macro render_table_content(submissions, bestSubmission, challengeType, evaluationType, lastSubmission, defaultEntry = false) %}
    {% import "macros/submission.html.twig" as macros %}
    <div class="tab-pane fade {% if (defaultEntry and not lastSubmission) or lastSubmission.challengeType.value == challengeType and lastSubmission.evaluationType.value == evaluationType %}show active{% endif %}" id="{{ challengeType ~ "_" ~ evaluationType }}" role="tabpanel" aria-labelledby="{{ challengeType }} {{ evaluationType }}">
        {% if bestSubmission and not bestSubmission.reportPath %}
            <p class="alert alert-warning">
                {{ "mine.warning.no_report"|trans }}
            </p>
        {% endif %}
        {{ macros.render_table(submissions, bestSubmission) }}
    </div>
{% endmacro %}

{% import _self as self %}

{% block tile_content %}
    <ul class="nav nav-tabs" id="challenge-tabs" role="tablist">
        {{ self.render_nav_item('CHALLENGE_2026', "SLAM", lastSubmission, true) }}
        {{ self.render_nav_item('CHALLENGE_2026', "LOCALIZATION", lastSubmission) }}
    </ul>
    <div class="tab-content" id="challenge-content">
        {{ self.render_table_content(submissions2026Slam, bestSubmission2026Slam, 'CHALLENGE_2026', "SLAM", lastSubmission, true) }}
        {{ self.render_table_content(submissions2026Localization, bestSubmission2026Localization, 'CHALLENGE_2026', "LOCALIZATION", lastSubmission) }}
    </div>

    <p class="text-sm">
        {% if user.preferAnonymity %}
            {{ "mine.submissions_private"|trans }}
            <a class="arrow" href="{{ path("user_toggle_prefer_anonymity", {"return_url": app.request.requestUri}) }}">
                {{ "mine.submissions_private_change"|trans }}
            </a>
        {% else %}
            {{ "mine.submissions_public"|trans }}
            <a class="arrow" href="{{ path("user_toggle_prefer_anonymity", {"return_url": app.request.requestUri}) }}">
                {{ "mine.submissions_public_change"|trans }}
            </a>
        {% endif %}
    </p>
{% endblock %}

{% block post_tile_content %}
    <p class="mt-2">
        <a class="text-sm arrow" href="{{ path("user_edit") }}">{{ "edit.title"|trans({}, "user") }}</a>
    </p>
{% endblock %}
