<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta lang="{{ app.request.locale }}">
    <base href="/" target="_self">

    <!-- fav icons -->
    <meta name="theme-color" content="#d2051e">
    <link rel="apple-touch-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"/>
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon"/>

    {% set title = block('title')|raw %}
    {% set description = block('description')|raw %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

{% block sceleton %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
