{% extends "_content.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% block content %}

    <div class="core reverse">
        <div class="hero-image">
            <img alt="Hilti SLAM Challenge" src="{{ asset('build/images/header.jpg') }}">
        </div>
        <div class="content">
            <h1>{{ "index.title"|trans }}</h1>
            <p class="subtitle">{{ "index.teaser"|trans }}</p>
            <p>
                {{ "index.help"|trans({'%format_requirements_links%': '<a href="#submission-format-control" class="smooth-scroll">' ~ "new.submission_requirements"|trans({}, "submission")|lower ~ '</a>'})|raw }}
            </p>
            <p>
                <a class="arrow" href="https://hilti-challenge.com"
                   target="_blank">
                    {{ "index.learn_more"|trans }}
                </a>
            </p>
        </div>
    </div>

    <div class="content text-center pt-10 pb-10">
        <a class="btn btn-primary" href="{{ path("submission_new") }}">
            {{ "new.title"|trans({}, "submission") }}
        </a>

        {% if challengeFinished %}
            <p class="text-muted text-sm mt-4 mb-0">
                <b>
                    {{ "index.deadline_passed"|trans({"%deadline%": env_current_challenge_deadline}) }}
                </b>
            </p>
            <p class="text-muted text-sm w-22em">
                {{ "index.deadline_passed_help"|trans }}
            </p>
        {% else %}
            <p class="text-muted text-sm mt-1">
                {{ "index.deadline"|trans({"%deadline%": env_current_challenge_deadline}) }}
            </p>
        {% endif %}
    </div>

    <div class="mb-5">
        {% include 'submission/how_to_submit.html.twig' %}
    </div>
{% endblock %}
